.movieGrid {
  color: #fff;
  margin-top: 7rem;
  text-align: center;
}

.movieGrid__carousel {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
}

.movieGrid__carousel > .MuiSvgIcon-root {
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.1s ease-in;
}

.movieGrid__carousel > .MuiSvgIcon-root:hover {
  border-color: #222;
}

.movieGrid__carousel > h1 {
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.movieGrid > a {
  color: #bbb;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: medium;
  display: inline-block;
  padding-bottom: 2rem;
}

.movieGrid > div {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  max-width: 76.5%;
  grid-row-gap: 12px;
  margin-top: 1rem;
  padding-bottom: 50px;
}

.movieGrid__movies {
  display: flex;
  width: 330px;
  height: 120px;
  background-color: #050505ad;
}

.movieGrid__votedOnce {
  opacity: 0.5;
}

.movieGrid__votedOnce:first-of-type {
  opacity: 1;
}

.movieGrid__moviesBtn0 {
  background-color: #111 !important;
}

.movieGrid__movies > img {
  width: 150px;
  object-fit: contain;
}

.movieGrid__movies > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.movieGrid__movies > div > h2 {
  text-transform: uppercase;
  font-size: small;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.movieGrid__moviesBtn {
  background-color: #000;
  padding: 5px 20px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.7px;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.2s ease-in;
  outline: none;
  border: none;
  color: #fff;
}

.movieGrid__moviesBtn:disabled {
  cursor: default;
}

.movieGrid__moviesBtn:hover {
  background-color: #222;
}

/* MODAL */
.MuiPaper-root {
  background-color: transparent !important;
}

.movieGrid__modal {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #222;
  height: 150px;
  width: 270px;
  border-radius: 10px;
}

.movieGrid__modal > h1 {
  font-size: 1.7rem;
}

.movieGrid__modal > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.movieGrid__modal > div > button {
  outline: none;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.movieGrid__modal > div > button:hover {
  filter: brightness(150%);
}

.movieGrid__modal > div > button:first-of-type {
  background-color: #8b0000;
}

.movieGrid__modal > div > button:last-of-type {
  background-color: #228b22;
}

/* SECOND MODAL */
.movieGrid__modalSecond > h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.movieGrid__modalSecond > h1 > span {
  color: #fff;
}

.movieGrid__modalSecond > button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

/* EXPIRED GRID */
.expiredGrid__moviesBtn {
  cursor: default;
}

.expiredGrid__moviesBtn:hover {
  background-color: #000;
}
