.vote {
  /* background: linear-gradient(to bottom, #000, #222); */
  overflow-y: hidden;
  position: relative;
}

.vote > h2 {
  position: absolute;
  color: #fff;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.vote > h2 > span {
  margin-left: 3px;
  font-size: 1.6rem;
  font-family: Oswald, sans-serif;
}

.sc-user-input {
  display: none;
  visibility: 0;
}
.sc-chat-window{
z-index: 1000;
}

.sc-launcher{
  cursor: pointer;
}

.sc-message-list{
background-color:#000000ad
}

.sc-message--avatar{
  visibility:hidden
}

.sc-message--content.received .sc-message--text{
  margin-right:0px;
  text-align:left
}

.sc-message--avatar{
  margin-right:0px
}



