.voting {
  /* background: linear-gradient(to bottom, #000, #222); */
  overflow: hidden;
  position: relative;
}

.voting__login {
  position: absolute;
  top: 1.5rem;
  left: 2.5%;
  color: #fff;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.voting__login >  div > h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.voting__login > div > h2 > span {
  margin-left: 3px;
  font-size: 1.6rem;
  font-family: Oswald, sans-serif;
}



.voting__video {
  padding: 7rem 0;
  margin: auto;
  width: max-content;
}

.voting__category {
  margin-bottom: 3rem;
}

.voting__category .category-1,
.voting__category .category-2,
.voting__category .category-3,
.voting__category .category-4 {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voting__category .category-1 > h3,
.voting__category .category-2 > h3,
.voting__category .category-3 > h3,
.voting__category .category-4 > h3 {
  margin-bottom: 0;
}


@media screen and (max-width:768px){
  .voting__video {
    margin: auto;
    width: 90%;
  }
  .voting__login {
    top: 0.5rem;
    left:1.5%;
  }


  .voting__login > div > h2 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .voting__login > div > h2 > span {
    margin-left: 3px;
    font-size: 0.9rem;
    font-family: Oswald, sans-serif;
  }

}