.navbar {
  background-color: #222;
  height: 70px;
  position: relative;
  width: 100%;
  z-index: 555;
  top: 0;
  /* transform: translateY(360%); */
  transition: all 0.5s ease-in;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-active-vote {
  border-bottom: 1px solid red;
}

/* .sticky {
  transform: translateY(0);
} */

.navbar__nav {
  color: #fff;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav__items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 4px solid #000;
  padding: 0 20px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  min-width: 200px;
  background-color: #222;
  z-index: 20;
}

.nav__items:last-of-type {
  border-right: 4px solid #000;
}

.nav__items > .MuiSvgIcon-root {
  margin-left: 1rem;
}

.nav__items:nth-child(1):hover,
.nav-active:nth-child(1) {
  background: linear-gradient(to right, #1da2e7 0, #0e7cb3 100%);
}

.nav__items:nth-child(3):hover,
.nav-active:nth-child(3) {
  background: linear-gradient(to right, #09d7a7 0, #0aa07d 100%);
}

.nav__items:nth-child(5):hover,
.nav-active:nth-child(5) {
  background: linear-gradient(to right, #ca49c7 0, #963898 100%);
}

.nav__items:nth-child(7):hover,
.nav-active:nth-child(7) {
  background: linear-gradient(to right, #ff7062 0, #c53e3a 100%);
}

.navbar__dropdown {
  position: absolute;
  top: 70px;
  width: 985px;
  padding: 15px;
  background-color: #222;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 8px;
  overflow: hidden;
  cursor: default;
  z-index: 555;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1 !important;
  outline: none;
  z-index: 20;
}

.navbar__dropdownShow {
  display: grid;
}

.navbar__dropdown:nth-child(2) {
  border-image-source: linear-gradient(to right, #1da2e7 0, #0e7cb3 100%);
}

.navbar__dropdown:nth-child(4) {
  border-image-source: linear-gradient(to right, #09d7a7 0, #0aa07d 100%);
}

.navbar__dropdown:nth-child(6) {
  border-image-source: linear-gradient(to right, #ca49c7 0, #963898 100%);
}

.navbar__dropdown:nth-child(8) {
  border-image-source: linear-gradient(to right, #ff7062 0, #c53e3a 100%);
}

.navbar__dropdown > a {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  width: 87%;
  text-align: center;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1 !important;
  border-color: transparent;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

.navbar__dropdown:nth-child(2) a:hover{
  border: 1px solid #1da2e7;
}

.navbar__dropdown:nth-child(4) a:hover{
  border: 1px solid #09d7a7;
}

.navbar__dropdown:nth-child(6) a:hover{
  border: 1px solid #ca49c7;
}

.navbar__dropdown:nth-child(8) a:hover{
  border: 1px solid #ff7062;
}

.navbar__dropdown-voted {
  position: absolute;
  top: 6px;
  left: -12px;
  background-color: green !important;
  transform: rotate(-90deg);
  font-size: small;
  padding: 5px 7px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar__dropdown-voted::after {
  background-color: green;
  position: absolute;
  bottom: -15px;
  right: 6.5px;
  width: 10px;
  height: 15px;
  transform: skew(-45deg);
}

#blur-div{
  width:100%;
  /* min-height: 600px;
  height:auto !important; */
  height: 100vmax;
  z-index: 10;
  background-color: rgba(255, 255, 255,0.001);
  position: absolute;
  backdrop-filter: blur(3px);
  display: none;
  overflow: hidden;
}

@media screen and (max-width:768px){
  .nav__items {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px 30px;
    border-left: 4px solid #000;
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.4px;
    min-width: 0px;
    background-color: #222;
    z-index: 20;
  }
  .navbar__dropdown {
    max-width: 90%;
    grid-gap: 10px;
  }
  .navbar__dropdown > a{
    font-size: 10px;
    width:60%;
  }

}