.navbar {
  background-color: #222;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  transform: translateY(360%);
  transition: all 0.5s ease-in;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sticky {
  transform: translateY(0);
}

.navbar__nav {
  color: #fff;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav__items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 4px solid #000;
  padding: 0 20px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  min-width: 200px;
  background-color: #222;
}

.nav__items:last-of-type {
  border-right: 4px solid #000;
}

.nav__items > .MuiSvgIcon-root {
  margin-left: 1rem;
}

.nav__items:nth-child(1):hover,
.nav-active:nth-child(1) {
  background: linear-gradient(to right, #1da2e7 0, #0e7cb3 100%);
}

.nav__items:nth-child(3):hover,
.nav-active:nth-child(3) {
  background: linear-gradient(to right, #09d7a7 0, #0aa07d 100%);
}

.nav__items:nth-child(5):hover,
.nav-active:nth-child(5) {
  background: linear-gradient(to right, #ca49c7 0, #963898 100%);
}

.nav__items:nth-child(7):hover,
.nav-active:nth-child(7) {
  background: linear-gradient(to right, #ff7062 0, #c53e3a 100%);
}

.navbar__dropdown {
  position: absolute;
  top: 70px;
  left: 161px;
  width: 73.6%;
  padding: 15px;
  background-color: #222;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 8px;
  overflow: hidden;
  cursor: default;
  z-index: 999;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1 !important;
}

.navbar__dropdownShow {
  display: grid;
}

.navbar__dropdown:nth-child(2) {
  border-image-source: linear-gradient(to right, #1da2e7 0, #0e7cb3 100%);
}

.navbar__dropdown:nth-child(4) {
  border-image-source: linear-gradient(to right, #09d7a7 0, #0aa07d 100%);
}

.navbar__dropdown:nth-child(6) {
  border-image-source: linear-gradient(to right, #ca49c7 0, #963898 100%);
}

.navbar__dropdown:nth-child(8) {
  border-image-source: linear-gradient(to right, #ff7062 0, #c53e3a 100%);
}

.navbar__dropdown > a {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  width: 87%;
  text-align: center;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1 !important;
  border-color: transparent;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
