.gridImages {
  margin: 0 auto;
  height: 700px;
  width: 70%;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  padding: 10px;
  padding-bottom: 3px;
  -moz-column-gap: 7px;
  -webkit-column-gap: 7px;
  column-gap: 7px;
  color: black;
}

.gridImagesBox {
  min-height: 250px;
  width: 100%;
  margin: 2px 0;
  display: inline-block;
  box-sizing: border-box;
  background-size: cover !important;
}

.gridImages__1 {
  height: 430px;
}
.gridImages__2 {
  height: 430px;
}
.gridImages__5 {
  height: 430px;
}

@media (max-width: 1150px) {
  .gridImages {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .gridImages {
    width: 95%;
  }
}

@media (max-width: 650px) {
  .gridImages {
    height: max-content;
    column-count: unset;
  }

  .gridImagesBox {
    min-height: unset;
    height: 500px;
    width: 97%;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .gridImages__1,
  .gridImages__2,
  .gridImages__5 {
    height: 900px;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .gridImagesBox {
    height: 300px;
  }

  .gridImages__1,
  .gridImages__2,
  .gridImages__5 {
    height: 500px;
  }
}
