.modal__btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(to right, #2f4353, #d2ccc4);
  color: #000;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  cursor: pointer;
  width: 100px;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.modal__btn:hover {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  display: grid;
  place-items: center;
}

.modal__conatiner {
  text-align: center;
  background-color: #222;
  width: 300px;
  height: max-content;
  min-height: 200px;
  padding: 40px 30px 30px 30px;
  position: relative;
  border-radius: 10px;
}

.modal__conatiner .close {
  position: absolute;
  color: #aaa;
  text-decoration: none;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  font-weight: bolder;
  transition: all 0.2s ease-in;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: transparent;
}

.modal__conatiner .close:hover {
  color: #111;
}

.modal__conatiner > h1 {
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  line-height: 1.7rem;
}

.modal__conatinerDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal__conatinerDesc > h1 {
  text-transform: capitalize;
  line-height: 2rem;
}

.modal__conatiner > div {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal__conatiner > div > input {
  width: 80%;
  outline: none;
  border: none;
  border: 1px solid #333;
  padding: 7px 20px;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 0.7rem;
  transition: all 0.2s ease-in;
}

.modal__conatiner > div > input:first-of-type {
  margin-bottom: 1rem;
}

.modal__conatiner > div > input:hover,
.modal__conatiner > div > input:focus {
  border-color: #000;
}

.modal__conatiner > div > input::-webkit-outer-spin-button,
.modal__conatiner > div > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal__conatiner > div > input::placeholder,
.modal__conatiner > div > input::-ms-input-placeholder {
  color: #000;
}

.modal__conatiner > div > button,
.modal__conatinerDesc > button {
  margin-top: 0.2rem;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #222, #555);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.modal__conatiner > div > button:hover,
.modal__conatinerDesc > button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.input-field{
  color: white;
}
input::placeholder{
  color: rgba(255, 255, 255, 0.7) !important;
}